* {
  margin: 0;
}

.container {
  display: flex;
  min-height: 100px;
  background-color: rgb(169, 61, 228);
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 2px solid black;
  border-radius: 8px;
  width: 400px;
  height: 500px;
  padding: 20px;
  margin: 30px;
}

.calculator-display {
  background-color: lightgray;
  border-radius: 6px;
  height: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
}
